<h2>Stories</h2>
<div class="row">
    {{#each stories}}
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                   {{#if user}}
                        {{{editIcon user.id ../user.id id}}}
                   {{/if}}
                </div>
                <div class="card-content">
                    <span class="card-title">{{title}}</span>
                    <p class="story-text">
                        {{stripTags (truncate body 150)}}</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}">
                        <a href="/stories/user/{{user.id}}" style="color:rgba(0,0,0,0.6);">{{user.firstName}} {{user.lastName}}</a>
                    </div>
                </div>
                <div class="card-action right-align">
                    <a class="btn red" href="/stories/show/{{id}}"> Read More</a>
                </div>
            </div>
        </div>
    {{else}}
        <p>
            No stories found!
        </p>
    {{/each}}
</div>